* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}

button {
    border-radius: 30px;
}


#website {
    display: flex;
    /* border: 10px solid purple; */
    height: 100vh; /* super important: lets your flexbox span accross the whole page */
    flex-direction: column;
}

body {
    background-color:rgb(234, 241, 227);
}

.title {
    background-color: brown;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.title h1 {
    margin: 20px auto;
    font-size: 70px;
    color: beige;
}

.page {
    border: 1px solid black;
    height: 100vh; /* Automatically fits the page to fill up the space between header and footer */
}



.page {
    display: flex;
}

#sketchArea {
    background-color: aliceblue;
    border: 1px solid black;
    margin: auto;
    margin-left: 10px;

    /* For the cells */
    display:flex;
    flex-wrap: wrap;

    /* To prevent any weird dragging effect */
    user-select: none;
    -webkit-user-drag: none;
}

.cell {
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px solid rgba(146, 141, 141, 0.377);
}

#options {
    border: 1px solid black;
    background-color: white;
    margin: auto;
    margin-right: 10px;

    /* For the option buttons */
    display: flex;
    flex-direction: column;
}

#reset {
   margin: 15px auto;
   width: 80%;
   height: 7.5%;
   color: beige;
   background-color: brown;
}

.slidercontainer {
    margin: 30px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


#slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: rgba(230, 59, 59, 0.596);
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height:17px;
    background: red;
    box-sizing: border-box;
    border: 3px solid rgba(221, 20, 20, 0.651);
    cursor: pointer;
}


#sliderText {
    text-align: center;
}


.pencileraser {
    display:flex;
    /* border:1px solid black; */
    flex-direction: column;
    height: 19%;
}

#pencil ,
#eraser {
    background-color: brown;
    color: beige;
    margin: 5px auto;
    width: 80%;
    height: 50%;
}


.colorcontainer {
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%
}


#colorSlider {
    width: 80%;
    height: 37%;
}

.lastbutton {
    display:flex;
    /* border: 1px solid black; */
    height: 15%;
    justify-content: center;
    align-items: center;
}

#grid {
    color:beige;
    background-color: rgb(69, 204, 69);
    width: 80%;
    height: 60%;
}

.currenttool {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    color: gray;
}

.footer {
    /* border:1px solid black; */
    background-color: brown;
    margin-top: auto;
}

.footer p {
    /* border: 2px solid white; */
    color: beige;
    text-align: center;
    font-size: 22px;
    margin: 20px auto;
}